.container {
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0px -50px;
  background: url('https://www.codewithrandom.com/wp-content/uploads/2022/10/Number-Guessing-Game-using-JavaScript-3.png');
}
h2 {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 20px;
}

.main {
  padding: 0 16px;
}

.main::after {
  color: #000;ontent: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.profile-links li img {
  max-width: 100px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-top: -15px;
}
#r {
  margin-left: 42%;
}
#ur {
  font-style: italic;
  margin-left: 21%;
}
html {
  background: url('https://tailwindcss.com/_next/static/media/docs@tinypng.d9e4dcdc.png');
}
